Project Title¶

Data Engineering Capstone Project
Project Summary

--describe your project at a high level--

The project follows the follow steps:

Step 1: Scope the Project and Gather Data
Step 2: Explore and Assess the Data
Step 3: Define the Data Model
Step 4: Run ETL to Model the Data
Step 5: Complete Project Write Up

In [13]:
import re
import pandas as pd
import psycopg2
from collections import defaultdict
from datetime import datetime, timedelta
from pyspark.sql.functions import udf
from pyspark.sql import SparkSession

### 1.scope the project and gather the data

1. Datasets contain million of lines and scope to provide migrant people where they area(city,state,country) going to (destination) and population at destination area.
2. Male and Female ratio present in areas and average temperature present there.
3. Their Mode of travel and based on which visa type.

#### Resources

1. Immigration data of USA
2. Us-cities demographic  data from opensoft
3. Global Temparature dataset from koggle


Mainly to prepare Analytic table


### Step 2: Explore and Assess the Data

In [14]:
# Getting Temperature data 
temperature_data = '../../data2/GlobalLandTemperaturesByCity.csv'
df = pd.read_csv(temperature_data, sep=',')

In [15]:
# print number of rows in dataset
print(df.count())

dt                               8599212
AverageTemperature               8235082
AverageTemperatureUncertainty    8235082
City                             8599212
Country                          8599212
Latitude                         8599212
Longitude                        8599212
dtype: int64

In [16]:
df.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E

In [17]:
# Read Immigration data which is csv format,just a sample for now then we work on big data set using spark
path= 'immigration_data_sample.csv'
df_immigration_pd = pd.read_csv(path, sep=',')

In [18]:
df_immigration_pd.head()

,Unnamed: 0,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,2027561,4084316.0,2016.0,4.0,209.0,209.0,HHW,20566.0,1.0,HI,...,NaN,M,1955.0,07202016,F,NaN,JL,5.658267e+10,00782,WT
1,2171295,4422636.0,2016.0,4.0,582.0,582.0,MCA,20567.0,1.0,TX,...,NaN,M,1990.0,10222016,M,NaN,*GA,9.436200e+10,XBLNG,B2
2,589494,1195600.0,2016.0,4.0,148.0,112.0,OGG,20551.0,1.0,FL,...,NaN,M,1940.0,07052016,M,NaN,LH,5.578047e+10,00464,WT
3,2631158,5291768.0,2016.0,4.0,297.0,297.0,LOS,20572.0,1.0,CA,...,NaN,M,1991.0,10272016,M,NaN,QR,9.478970e+10,00739,B2
4,3032257,985523.0,2016.0,4.0,111.0,111.0,CHM,20550.0,3.0,NY,...,NaN,M,1997.0,07042016,F,NaN,NaN,4.232257e+10,LAND,WT

In [19]:
# Read demographic data 
path = 'us-cities-demographics.csv'
df_demographic_pd = pd.read_csv(path,sep=";")
df_demographic_pd.head()

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402

#### Accessing Data with spark for better performance

In [20]:
# creating the spark Session
from pyspark.sql import SparkSession
spark = SparkSession.builder.\
config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11")\
.enableHiveSupport().getOrCreate()

### Step 2.Explore and Assess the data
#### explore

##### Immigration Data 
This data comes from the US National Tourism and Trade Office. We drop all rows having null or invalid values for i94port which is know for destination area.

In [21]:
path_immigration_data= '../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat'
spark_immigration_data = spark.read.format('com.github.saurfang.sas.spark').load(path_immigration_data)
spark_immigration_data.show()

+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|cicid| i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|        admnum|fltno|visatype|
+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|  6.0|2016.0|   4.0| 692.0| 692.0|    XXX|20573.0|   null|   null|   null|  37.0|    2.0|  1.0|    null|    null| null|      T|   null|      U|   null| 1979.0|10282016|  null|  null|   null| 1.897628485E9| null|      B2|
|  7.0|2016.0|   4.0| 254.0| 276.0|    ATL|20551.0|    1.0|     AL|   null|  25.0|    3.0|  1.0|20130811|     SEO| null|      G|   null|      Y|   null| 1991.0|     D/S|     M|  null|   null|  3.73679633E9|00296|      F1|
| 15.0|2016.0|   4.0| 101.0| 101.0|    WAS|20545.0|    1.0|     MI|20691.0|  55.0|    2.0|  1.0|20160401|    null| null|      T|      O|   null|      M| 1961.0|09302016|     M|  null|     OS|  6.66643185E8|   93|      B2|
| 16.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     MA|20567.0|  28.0|    2.0|  1.0|20160401|    null| null|      O|      O|   null|      M| 1988.0|09302016|  null|  null|     AA|9.246846133E10|00199|      B2|
| 17.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     MA|20567.0|   4.0|    2.0|  1.0|20160401|    null| null|      O|      O|   null|      M| 2012.0|09302016|  null|  null|     AA|9.246846313E10|00199|      B2|
| 18.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     MI|20555.0|  57.0|    1.0|  1.0|20160401|    null| null|      O|      O|   null|      M| 1959.0|09302016|  null|  null|     AZ|9.247103803E10|00602|      B1|
| 19.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     NJ|20558.0|  63.0|    2.0|  1.0|20160401|    null| null|      O|      K|   null|      M| 1953.0|09302016|  null|  null|     AZ|9.247139923E10|00602|      B2|
| 20.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     NJ|20558.0|  57.0|    2.0|  1.0|20160401|    null| null|      O|      K|   null|      M| 1959.0|09302016|  null|  null|     AZ|9.247161383E10|00602|      B2|
| 21.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     NY|20553.0|  46.0|    2.0|  1.0|20160401|    null| null|      O|      O|   null|      M| 1970.0|09302016|  null|  null|     AZ|9.247079603E10|00602|      B2|
| 22.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     NY|20562.0|  48.0|    1.0|  1.0|20160401|    null| null|      O|      O|   null|      M| 1968.0|09302016|  null|  null|     AZ|9.247848973E10|00608|      B1|
| 23.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     NY|20671.0|  52.0|    2.0|  1.0|20160401|    null| null|      O|      O|   null|      M| 1964.0|09302016|  null|  null|     TK|9.250139443E10|00001|      B2|
| 24.0|2016.0|   4.0| 101.0| 101.0|    TOR|20545.0|    1.0|     MO|20554.0|  33.0|    2.0|  1.0|20160401|    null| null|      O|      O|   null|      M| 1983.0|09302016|  null|  null|     MQ|9.249090503E10|03348|      B2|
| 27.0|2016.0|   4.0| 101.0| 101.0|    BOS|20545.0|    1.0|     MA|20549.0|  58.0|    1.0|  1.0|20160401|     TIA| null|      G|      O|   null|      M| 1958.0|04062016|     M|  null|     LH|9.247876383E10|00422|      B1|
| 28.0|2016.0|   4.0| 101.0| 101.0|    ATL|20545.0|    1.0|     MA|20549.0|  56.0|    1.0|  1.0|20160401|     TIA| null|      G|      O|   null|      M| 1960.0|04062016|     F|  null|     LH|9.247890033E10|00422|      B1|
| 29.0|2016.0|   4.0| 101.0| 101.0|    ATL|20545.0|    1.0|     MA|20561.0|  62.0|    2.0|  1.0|20160401|     TIA| null|      G|      O|   null|      M| 1954.0|09302016|     M|  null|     AZ|9.250378143E10|00614|      B2|
| 30.0|2016.0|   4.0| 101.0| 101.0|    ATL|20545.0|    1.0|     NJ|20578.0|  49.0|    2.0|  1.0|20160401|     TIA| null|      G|      O|   null|      M| 1967.0|09302016|     M|  null|     OS|9.247020943E10|00089|      B2|
| 31.0|2016.0|   4.0| 101.0| 101.0|    ATL|20545.0|    1.0|     NY|20611.0|  43.0|    2.0|  1.0|20160401|     TIA| null|      G|      O|   null|      M| 1973.0|09302016|     M|  null|     OS|9.247128923E10|00089|      B2|
| 33.0|2016.0|   4.0| 101.0| 101.0|    HOU|20545.0|    1.0|     TX|20554.0|  53.0|    2.0|  1.0|20160401|     TIA| null|      G|      O|   null|      M| 1963.0|09302016|     F|  null|     TK|9.250930163E10|00033|      B2|
| 34.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     CT|   null|  48.0|    2.0|  1.0|20160401|     TIA| null|      G|   null|   null|   null| 1968.0|09302016|     M|  null|     AZ|9.247042023E10|00602|      B2|
| 35.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     CT|   null|  74.0|    2.0|  1.0|20160401|     TIA| null|      T|   null|   null|   null| 1942.0|09302016|     F|  null|     TK|  6.69712185E8|    1|      B2|
+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
only showing top 20 rows

In [22]:
# Creating dictionary of i94port which are of valid format
re_compile_obj = re.compile(r'\'(.*)\'.*\'(.*)\'')
valid_i94port = {}
with open('i94port_valid.txt') as f:
     for line in f:
            match = re_compile_obj.search(line)
            valid_i94port[match[1]]=[match[2]]

In [23]:
# clean i94 immigration data using valid ports data obtained above
spark_immigration_valid_port = spark_immigration_data.filter(spark_immigration_data.i94port.isin(list(valid_i94port)))

#### Temperature Data

In [24]:
path = "../../data2/GlobalLandTemperaturesByCity.csv"
spark_temp = spark.read.format("csv").option("header",True).option("delimiter",",").load(path)
spark_temp.show()

+----------+-------------------+-----------------------------+-----+-------+--------+---------+
|        dt| AverageTemperature|AverageTemperatureUncertainty| City|Country|Latitude|Longitude|
+----------+-------------------+-----------------------------+-----+-------+--------+---------+
|1743-11-01|              6.068|           1.7369999999999999|Århus|Denmark|  57.05N|   10.33E|
|1743-12-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-01-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-02-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-03-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-04-01| 5.7879999999999985|           3.6239999999999997|Århus|Denmark|  57.05N|   10.33E|
|1744-05-01|             10.644|           1.2830000000000001|Århus|Denmark|  57.05N|   10.33E|
|1744-06-01| 14.050999999999998|                        1.347|Århus|Denmark|  57.05N|   10.33E|
|1744-07-01|             16.082|                        1.396|Århus|Denmark|  57.05N|   10.33E|
|1744-08-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-09-01| 12.780999999999999|                        1.454|Århus|Denmark|  57.05N|   10.33E|
|1744-10-01|               7.95|                         1.63|Århus|Denmark|  57.05N|   10.33E|
|1744-11-01|  4.638999999999999|           1.3019999999999998|Århus|Denmark|  57.05N|   10.33E|
|1744-12-01|0.12199999999999987|                        1.756|Århus|Denmark|  57.05N|   10.33E|
|1745-01-01|-1.3330000000000002|                        1.642|Århus|Denmark|  57.05N|   10.33E|
|1745-02-01|             -2.732|                        1.358|Århus|Denmark|  57.05N|   10.33E|
|1745-03-01|              0.129|                        1.088|Århus|Denmark|  57.05N|   10.33E|
|1745-04-01|              4.042|                        1.138|Århus|Denmark|  57.05N|   10.33E|
|1745-05-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1745-06-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
+----------+-------------------+-----------------------------+-----+-------+--------+---------+
only showing top 20 rows

In [25]:
#Adding a column "i94port" to spark_temp dataset

@udf
def get_column(city):
    for key in valid_i94port:
        if key.lower() in valid_i94port[key][0].lower():
            return key

In [26]:
spark_temp.show()

+----------+-------------------+-----------------------------+-----+-------+--------+---------+
|        dt| AverageTemperature|AverageTemperatureUncertainty| City|Country|Latitude|Longitude|
+----------+-------------------+-----------------------------+-----+-------+--------+---------+
|1743-11-01|              6.068|           1.7369999999999999|Århus|Denmark|  57.05N|   10.33E|
|1743-12-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-01-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-02-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-03-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-04-01| 5.7879999999999985|           3.6239999999999997|Århus|Denmark|  57.05N|   10.33E|
|1744-05-01|             10.644|           1.2830000000000001|Århus|Denmark|  57.05N|   10.33E|
|1744-06-01| 14.050999999999998|                        1.347|Århus|Denmark|  57.05N|   10.33E|
|1744-07-01|             16.082|                        1.396|Århus|Denmark|  57.05N|   10.33E|
|1744-08-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-09-01| 12.780999999999999|                        1.454|Århus|Denmark|  57.05N|   10.33E|
|1744-10-01|               7.95|                         1.63|Århus|Denmark|  57.05N|   10.33E|
|1744-11-01|  4.638999999999999|           1.3019999999999998|Århus|Denmark|  57.05N|   10.33E|
|1744-12-01|0.12199999999999987|                        1.756|Århus|Denmark|  57.05N|   10.33E|
|1745-01-01|-1.3330000000000002|                        1.642|Århus|Denmark|  57.05N|   10.33E|
|1745-02-01|             -2.732|                        1.358|Århus|Denmark|  57.05N|   10.33E|
|1745-03-01|              0.129|                        1.088|Århus|Denmark|  57.05N|   10.33E|
|1745-04-01|              4.042|                        1.138|Århus|Denmark|  57.05N|   10.33E|
|1745-05-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1745-06-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
+----------+-------------------+-----------------------------+-----+-------+--------+---------+
only showing top 20 rows

In [33]:
spark_temp.count()

3490

In [30]:
# Number of records after removing null values in AverageTemperature column
spark_temp = spark_temp.filter(spark_temp.AverageTemperature != 'null')
spark_temp.count()

8235082

In [31]:
spark_temp.show()

+----------+-------------------+-----------------------------+-----+-------+--------+---------+
|        dt| AverageTemperature|AverageTemperatureUncertainty| City|Country|Latitude|Longitude|
+----------+-------------------+-----------------------------+-----+-------+--------+---------+
|1743-11-01|              6.068|           1.7369999999999999|Århus|Denmark|  57.05N|   10.33E|
|1744-04-01| 5.7879999999999985|           3.6239999999999997|Århus|Denmark|  57.05N|   10.33E|
|1744-05-01|             10.644|           1.2830000000000001|Århus|Denmark|  57.05N|   10.33E|
|1744-06-01| 14.050999999999998|                        1.347|Århus|Denmark|  57.05N|   10.33E|
|1744-07-01|             16.082|                        1.396|Århus|Denmark|  57.05N|   10.33E|
|1744-09-01| 12.780999999999999|                        1.454|Århus|Denmark|  57.05N|   10.33E|
|1744-10-01|               7.95|                         1.63|Århus|Denmark|  57.05N|   10.33E|
|1744-11-01|  4.638999999999999|           1.3019999999999998|Århus|Denmark|  57.05N|   10.33E|
|1744-12-01|0.12199999999999987|                        1.756|Århus|Denmark|  57.05N|   10.33E|
|1745-01-01|-1.3330000000000002|                        1.642|Århus|Denmark|  57.05N|   10.33E|
|1745-02-01|             -2.732|                        1.358|Århus|Denmark|  57.05N|   10.33E|
|1745-03-01|              0.129|                        1.088|Århus|Denmark|  57.05N|   10.33E|
|1745-04-01|              4.042|                        1.138|Århus|Denmark|  57.05N|   10.33E|
|1750-01-01|              1.699|                        1.013|Århus|Denmark|  57.05N|   10.33E|
|1750-02-01| 3.9610000000000003|           2.3609999999999998|Århus|Denmark|  57.05N|   10.33E|
|1750-03-01|              5.182|                         3.48|Århus|Denmark|  57.05N|   10.33E|
|1750-04-01|              7.197|                        0.732|Århus|Denmark|  57.05N|   10.33E|
|1750-05-01|             10.634|                        1.351|Århus|Denmark|  57.05N|   10.33E|
|1750-06-01|             14.913|                        1.181|Århus|Denmark|  57.05N|   10.33E|
|1750-07-01|             17.831|                         1.22|Århus|Denmark|  57.05N|   10.33E|
+----------+-------------------+-----------------------------+-----+-------+--------+---------+
only showing top 20 rows

In [32]:
spark_temp = spark_temp.dropDuplicates(['City','Country'])
spark_temp.show()

+----------+--------------------+-----------------------------+------------+------------------+--------+---------+
|        dt|  AverageTemperature|AverageTemperatureUncertainty|        City|           Country|Latitude|Longitude|
+----------+--------------------+-----------------------------+------------+------------------+--------+---------+
|1743-11-01|               3.264|                        1.665|   Allentown|     United States|  40.99N|   74.56W|
|1779-11-01|0.011999999999999985|                        2.714|      Atyrau|        Kazakhstan|  47.42N|   50.92E|
|1825-01-01|  26.069000000000003|                         2.16|     Bintulu|          Malaysia|   2.41N|  113.30E|
|1825-01-01|              26.517|           2.5839999999999996| Butterworth|          Malaysia|   5.63N|  100.09E|
|1845-01-01|              24.995|                        1.871|      Cainta|       Philippines|  15.27N|  120.83E|
|1825-01-01|              24.753|           2.1519999999999997|      Ciamis|         Indonesia|   7.23S|  107.84E|
|1850-01-01|              22.121|           1.5730000000000002|      Dodoma|          Tanzania|   5.63S|   35.52E|
|1840-01-01|  6.2250000000000005|                        2.112|      Fuling|             China|  29.74N|  107.08E|
|1841-01-01| -0.3360000000000001|                        2.695|      Fuyang|             China|  32.95N|  115.85E|
|1856-01-01|              26.901|                        1.359|         Ife|           Nigeria|   7.23N|    4.05E|
|1796-01-01|  14.427999999999999|                        2.395|  Jhunjhunun|             India|  28.13N|   75.45E|
|1857-01-01|               25.32|           1.5130000000000001|      Maxixe|        Mozambique|  23.31S|   35.83E|
|1856-01-01|  26.555000000000003|                        1.308|      Owerri|           Nigeria|   5.63N|    6.46E|
|1824-01-01|  24.958000000000002|                        1.182|Puerto Plata|Dominican Republic|  20.09N|   69.95W|
|1832-01-01|              22.288|                        1.587| Santo André|            Brazil|  23.31S|   46.31W|
|1857-01-01|  18.581000000000003|           1.8119999999999998|      Soweto|      South Africa|  26.52S|   28.66E|
|1825-01-01|              25.862|                        2.175|    Sukabumi|         Indonesia|   7.23S|  106.22E|
|1743-11-01|               7.084|           1.8969999999999998|    Toulouse|            France|  44.20N|    2.24E|
|1835-01-01|              13.086|                        1.942|  Tulancingo|            Mexico|  20.09N|   98.96W|
|1849-01-01|  26.531999999999996|                        1.416|      Anyama|     Côte D'Ivoire|   5.63N|    4.84W|
+----------+--------------------+-----------------------------+------------+------------------+--------+---------+
only showing top 20 rows

In [34]:
spark_temp.count()

3490

#### Us-Cities-demographics

In [35]:
path = 'us-cities-demographics.csv'
spark_us_cities = spark.read.format("csv").option("header", True).option("delimiter",";").load(path)
spark_us_cities.show()

+----------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+------+
|            City|         State|Median Age|Male Population|Female Population|Total Population|Number of Veterans|Foreign-born|Average Household Size|State Code|                Race| Count|
+----------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+------+
|   Silver Spring|      Maryland|      33.8|          40601|            41862|           82463|              1562|       30908|                   2.6|        MD|  Hispanic or Latino| 25924|
|          Quincy| Massachusetts|      41.0|          44129|            49500|           93629|              4147|       32935|                  2.39|        MA|               White| 58723|
|          Hoover|       Alabama|      38.5|          38040|            46799|           84839|              4819|        8229|                  2.58|        AL|               Asian|  4759|
|Rancho Cucamonga|    California|      34.5|          88127|            87105|          175232|              5821|       33878|                  3.18|        CA|Black or African-...| 24437|
|          Newark|    New Jersey|      34.6|         138040|           143873|          281913|              5829|       86253|                  2.73|        NJ|               White| 76402|
|          Peoria|      Illinois|      33.1|          56229|            62432|          118661|              6634|        7517|                   2.4|        IL|American Indian a...|  1343|
|        Avondale|       Arizona|      29.1|          38712|            41971|           80683|              4815|        8355|                  3.18|        AZ|Black or African-...| 11592|
|     West Covina|    California|      39.8|          51629|            56860|          108489|              3800|       37038|                  3.56|        CA|               Asian| 32716|
|        O'Fallon|      Missouri|      36.0|          41762|            43270|           85032|              5783|        3269|                  2.77|        MO|  Hispanic or Latino|  2583|
|      High Point|North Carolina|      35.5|          51751|            58077|          109828|              5204|       16315|                  2.65|        NC|               Asian| 11060|
|          Folsom|    California|      40.9|          41051|            35317|           76368|              4187|       13234|                  2.62|        CA|  Hispanic or Latino|  5822|
|          Folsom|    California|      40.9|          41051|            35317|           76368|              4187|       13234|                  2.62|        CA|American Indian a...|   998|
|    Philadelphia|  Pennsylvania|      34.1|         741270|           826172|         1567442|             61995|      205339|                  2.61|        PA|               Asian|122721|
|         Wichita|        Kansas|      34.6|         192354|           197601|          389955|             23978|       40270|                  2.56|        KS|  Hispanic or Latino| 65162|
|         Wichita|        Kansas|      34.6|         192354|           197601|          389955|             23978|       40270|                  2.56|        KS|American Indian a...|  8791|
|      Fort Myers|       Florida|      37.3|          36850|            37165|           74015|              4312|       15365|                  2.45|        FL|               White| 50169|
|      Pittsburgh|  Pennsylvania|      32.9|         149690|           154695|          304385|             17728|       28187|                  2.13|        PA|               White|208863|
|          Laredo|         Texas|      28.8|         124305|           131484|          255789|              4921|       68427|                  3.66|        TX|American Indian a...|  1253|
|        Berkeley|    California|      32.5|          60142|            60829|          120971|              3736|       25000|                  2.35|        CA|               Asian| 27089|
|     Santa Clara|    California|      35.2|          63278|            62938|          126216|              4426|       52281|                  2.75|        CA|               White| 55847|
+----------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+------+
only showing top 20 rows

In [36]:
spark_us_cities = spark_us_cities.dropDuplicates(["City","State"])
spark_us_cities.count()

596

### Step 3.Define the Data Model

3.1 Conceptual Model

First dimentional model contains data from i94 immigration dataset
- i94yr = 4 digit year
- i94mon = numeric month
- i94cit = 3 digit code of origin city
- i94port = 3 character code of destination city
- arrdate = arrival date
- i94mode = 1 digit travel code
- depdate = departure date
- i94visa = reason for immigration

Second dimentional model contain data from GobalTemperature dataset

- City = city name
- Country = Country name
- latitude = latitude 
- longitude = longitude
- avaerage temperature = Average temperature pesent in specific latitude and longitude
- i94port = 3 character code of destination city (added using immigration data)

Third dimentional model contains data from us-cities-demographics dataset

- City = city name
- State = state name
- Male population - male population in that city
- Female population - Female Population in that city
- race = people of specific race
- Average household size = avaerage house hold size

****Fist Fact Table1**** 

##### Contain information by joining immigration data to temperature data on i94port and again joing to us-cities-demog   raphics data on city name####

- i94yr = 4 digit year code
- i94mon =  digit month code(1,,,,12)
- i94cit = 3 digit of origin city
- i94port = 3 character code of destination city
- arrdata = arrival data
- i94mode = mode of travel
- gender = gender
- airline = airline code
- deptdate = departure date
- i94visa = type of reason for visa
- Average Temperature= average temperature in city
- Male Population = male population in that city
- Female population = femle population
- race = people of specific race

****Fist Fact Table2****

##### contain information by joining selected columns from fact table1 and us-cities-demographics dataset on city column.Where city were only from USA

- city = city name
- male population = male population
- female population = female population
- average household size = average household size
- reason = reason
- i94port = 3 character destional city
- i94month = numeric month

****Necessary steps to pipline the data (datamodel specified above)****

- 1.Clean the immigration dataset by removing duplicates and null values in i94port port and making spark dataframe done this in above stemps

- 2.Clean temperature dataset on addng i94port column with valid state code and removing duplicate state and country names.

- 3.Create first dimentional table after cleaning and removing duplicates and null values in i94immigration data

- 4.Create second dimentional table on global temperature dataset with column "i94port".

- 5.Create third dimentional table on us-cities-demographics dataset with column names specified above and removing duplicate cities and statues

- 6.Create fact table by joining immigration and temperature dimension tables on i94port and again join demographics dimentional table on city and write to parquet file partitioned by i94port and city.

**Run ETL to Model the Data**

***Step1***

In [37]:
# Path to I94 immigration data 
# Here only april data is loaded but we can load whole millions of data using 
# path = '../../data/18-83510-I94-Data-2016/*.sas7bdat'
path = '../../data/18-83510-I94-Data-2016/i94_jun16_sub.sas7bdat'

In [38]:
# we have already loaded april data and done some calculation , now using june data 
spark_immigration_data = spark.read.format('com.github.saurfang.sas.spark').load(path)

***Cleaning Data***

In [39]:
# Creating dictionary of i94port which are of valid format for june month
re_compile_obj = re.compile(r'\'(.*)\'.*\'(.*)\'')
valid_i94port = {}
with open('i94port_valid.txt') as f:
     for line in f:
            match = re_compile_obj.search(line)
            valid_i94port[match[1]]=[match[2]]

In [40]:
spark_immigration_data = spark_immigration_data.filter(spark_immigration_data.i94port.isin(list(valid_i94port)))

In [41]:
# selecting i94port column which contain only valid port
spark_immigration_data.select(["i94port"]).show()

+-------+
|i94port|
+-------+
|    SFR|
|    SFR|
|    HOU|
|    HOU|
|    BOS|
|    NEW|
|    NYC|
|    NYC|
|    NYC|
|    NYC|
|    NYC|
|    NYC|
|    NYC|
|    NYC|
|    NYC|
|    NYC|
|    NYC|
|    TAM|
|    BOS|
|    BOS|
+-------+
only showing top 20 rows

In [42]:
# Create immigration dimentional table
immigration_dim = spark_immigration_data.select(["i94yr", "i94mon", "i94cit", "i94port", "arrdate", "i94mode", "depdate", "i94visa"])
immigration_dim.show()

+------+------+------+-------+-------+-------+-------+-------+
| i94yr|i94mon|i94cit|i94port|arrdate|i94mode|depdate|i94visa|
+------+------+------+-------+-------+-------+-------+-------+
|2016.0|   6.0| 254.0|    SFR|20623.0|    1.0|   null|    3.0|
|2016.0|   6.0| 254.0|    SFR|20623.0|    1.0|   null|    3.0|
|2016.0|   6.0| 127.0|    HOU|20617.0|    1.0|20679.0|    2.0|
|2016.0|   6.0| 127.0|    HOU|20617.0|    1.0|20679.0|    2.0|
|2016.0|   6.0| 101.0|    BOS|20606.0|    1.0|20608.0|    1.0|
|2016.0|   6.0| 101.0|    NEW|20606.0|    1.0|20639.0|    2.0|
|2016.0|   6.0| 101.0|    NYC|20606.0|    1.0|20610.0|    2.0|
|2016.0|   6.0| 101.0|    NYC|20606.0|    1.0|20618.0|    2.0|
|2016.0|   6.0| 101.0|    NYC|20606.0|    1.0|20610.0|    2.0|
|2016.0|   6.0| 101.0|    NYC|20606.0|    1.0|20610.0|    2.0|
|2016.0|   6.0| 101.0|    NYC|20606.0|    1.0|20610.0|    1.0|
|2016.0|   6.0| 101.0|    NYC|20606.0|    1.0|20610.0|    2.0|
|2016.0|   6.0| 101.0|    NYC|20606.0|    1.0|20626.0|    2.0|
|2016.0|   6.0| 101.0|    NYC|20606.0|    1.0|20615.0|    1.0|
|2016.0|   6.0| 101.0|    NYC|20606.0|    1.0|20615.0|    1.0|
|2016.0|   6.0| 101.0|    NYC|20606.0|    1.0|20615.0|    2.0|
|2016.0|   6.0| 101.0|    NYC|20606.0|    1.0|20616.0|    2.0|
|2016.0|   6.0| 101.0|    TAM|20606.0|    1.0|20662.0|    2.0|
|2016.0|   6.0| 101.0|    BOS|20606.0|    1.0|   null|    3.0|
|2016.0|   6.0| 101.0|    BOS|20606.0|    1.0|20632.0|    2.0|
+------+------+------+-------+-------+-------+-------+-------+
only showing top 20 rows

In [43]:
# writing data to separet folder in parquet formate and partition by i94port and i94month
immigration_dim.write.mode("append").partitionBy("i94port").parquet("/results/immigration.parquet")

***step2***

In [44]:
# path to temperature data
fname = '../../data2/GlobalLandTemperaturesByCity.csv'
temperature_dim = spark.read.format("csv").option("header",True).option("delimiter", ",").load(fname)
temperature_dim.show()

+----------+-------------------+-----------------------------+-----+-------+--------+---------+
|        dt| AverageTemperature|AverageTemperatureUncertainty| City|Country|Latitude|Longitude|
+----------+-------------------+-----------------------------+-----+-------+--------+---------+
|1743-11-01|              6.068|           1.7369999999999999|Århus|Denmark|  57.05N|   10.33E|
|1743-12-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-01-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-02-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-03-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-04-01| 5.7879999999999985|           3.6239999999999997|Århus|Denmark|  57.05N|   10.33E|
|1744-05-01|             10.644|           1.2830000000000001|Århus|Denmark|  57.05N|   10.33E|
|1744-06-01| 14.050999999999998|                        1.347|Århus|Denmark|  57.05N|   10.33E|
|1744-07-01|             16.082|                        1.396|Århus|Denmark|  57.05N|   10.33E|
|1744-08-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-09-01| 12.780999999999999|                        1.454|Århus|Denmark|  57.05N|   10.33E|
|1744-10-01|               7.95|                         1.63|Århus|Denmark|  57.05N|   10.33E|
|1744-11-01|  4.638999999999999|           1.3019999999999998|Århus|Denmark|  57.05N|   10.33E|
|1744-12-01|0.12199999999999987|                        1.756|Århus|Denmark|  57.05N|   10.33E|
|1745-01-01|-1.3330000000000002|                        1.642|Århus|Denmark|  57.05N|   10.33E|
|1745-02-01|             -2.732|                        1.358|Århus|Denmark|  57.05N|   10.33E|
|1745-03-01|              0.129|                        1.088|Århus|Denmark|  57.05N|   10.33E|
|1745-04-01|              4.042|                        1.138|Århus|Denmark|  57.05N|   10.33E|
|1745-05-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1745-06-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
+----------+-------------------+-----------------------------+-----+-------+--------+---------+
only showing top 20 rows

In [45]:
temperature_dim = temperature_dim.dropDuplicates(["City","Country"])
temperature_dim.show()

+----------+--------------------+-----------------------------+------------+------------------+--------+---------+
|        dt|  AverageTemperature|AverageTemperatureUncertainty|        City|           Country|Latitude|Longitude|
+----------+--------------------+-----------------------------+------------+------------------+--------+---------+
|1743-11-01|               3.264|                        1.665|   Allentown|     United States|  40.99N|   74.56W|
|1779-11-01|0.011999999999999985|                        2.714|      Atyrau|        Kazakhstan|  47.42N|   50.92E|
|1825-01-01|  26.069000000000003|                         2.16|     Bintulu|          Malaysia|   2.41N|  113.30E|
|1825-01-01|              26.517|           2.5839999999999996| Butterworth|          Malaysia|   5.63N|  100.09E|
|1845-01-01|              24.995|                        1.871|      Cainta|       Philippines|  15.27N|  120.83E|
|1825-01-01|              24.753|           2.1519999999999997|      Ciamis|         Indonesia|   7.23S|  107.84E|
|1850-01-01|              22.121|           1.5730000000000002|      Dodoma|          Tanzania|   5.63S|   35.52E|
|1840-01-01|  6.2250000000000005|                        2.112|      Fuling|             China|  29.74N|  107.08E|
|1841-01-01| -0.3360000000000001|                        2.695|      Fuyang|             China|  32.95N|  115.85E|
|1856-01-01|              26.901|                        1.359|         Ife|           Nigeria|   7.23N|    4.05E|
|1796-01-01|  14.427999999999999|                        2.395|  Jhunjhunun|             India|  28.13N|   75.45E|
|1857-01-01|               25.32|           1.5130000000000001|      Maxixe|        Mozambique|  23.31S|   35.83E|
|1856-01-01|  26.555000000000003|                        1.308|      Owerri|           Nigeria|   5.63N|    6.46E|
|1824-01-01|  24.958000000000002|                        1.182|Puerto Plata|Dominican Republic|  20.09N|   69.95W|
|1832-01-01|              22.288|                        1.587| Santo André|            Brazil|  23.31S|   46.31W|
|1857-01-01|  18.581000000000003|           1.8119999999999998|      Soweto|      South Africa|  26.52S|   28.66E|
|1825-01-01|              25.862|                        2.175|    Sukabumi|         Indonesia|   7.23S|  106.22E|
|1743-11-01|               7.084|           1.8969999999999998|    Toulouse|            France|  44.20N|    2.24E|
|1835-01-01|              13.086|                        1.942|  Tulancingo|            Mexico|  20.09N|   98.96W|
|1849-01-01|  26.531999999999996|                        1.416|      Anyama|     Côte D'Ivoire|   5.63N|    4.84W|
+----------+--------------------+-----------------------------+------------+------------------+--------+---------+
only showing top 20 rows

In [46]:
temperature_dim.count()

3490

***Cleaning Step***

In [47]:
# Adding column i94port to temperature_dim table
temperature_dim = temperature_dim.withColumn("i94port", get_column(temperature_dim.City))
temperature_dim.show()

+----------+--------------------+-----------------------------+------------+------------------+--------+---------+-------+
|        dt|  AverageTemperature|AverageTemperatureUncertainty|        City|           Country|Latitude|Longitude|i94port|
+----------+--------------------+-----------------------------+------------+------------------+--------+---------+-------+
|1743-11-01|               3.264|                        1.665|   Allentown|     United States|  40.99N|   74.56W|    ALC|
|1779-11-01|0.011999999999999985|                        2.714|      Atyrau|        Kazakhstan|  47.42N|   50.92E|    ALC|
|1825-01-01|  26.069000000000003|                         2.16|     Bintulu|          Malaysia|   2.41N|  113.30E|    ALC|
|1825-01-01|              26.517|           2.5839999999999996| Butterworth|          Malaysia|   5.63N|  100.09E|    ALC|
|1845-01-01|              24.995|                        1.871|      Cainta|       Philippines|  15.27N|  120.83E|    ALC|
|1825-01-01|              24.753|           2.1519999999999997|      Ciamis|         Indonesia|   7.23S|  107.84E|    ALC|
|1850-01-01|              22.121|           1.5730000000000002|      Dodoma|          Tanzania|   5.63S|   35.52E|    ALC|
|1840-01-01|  6.2250000000000005|                        2.112|      Fuling|             China|  29.74N|  107.08E|    ALC|
|1841-01-01| -0.3360000000000001|                        2.695|      Fuyang|             China|  32.95N|  115.85E|    ALC|
|1856-01-01|              26.901|                        1.359|         Ife|           Nigeria|   7.23N|    4.05E|    ALC|
|1796-01-01|  14.427999999999999|                        2.395|  Jhunjhunun|             India|  28.13N|   75.45E|    ALC|
|1857-01-01|               25.32|           1.5130000000000001|      Maxixe|        Mozambique|  23.31S|   35.83E|    ALC|
|1856-01-01|  26.555000000000003|                        1.308|      Owerri|           Nigeria|   5.63N|    6.46E|    ALC|
|1824-01-01|  24.958000000000002|                        1.182|Puerto Plata|Dominican Republic|  20.09N|   69.95W|    ALC|
|1832-01-01|              22.288|                        1.587| Santo André|            Brazil|  23.31S|   46.31W|    ALC|
|1857-01-01|  18.581000000000003|           1.8119999999999998|      Soweto|      South Africa|  26.52S|   28.66E|    ALC|
|1825-01-01|              25.862|                        2.175|    Sukabumi|         Indonesia|   7.23S|  106.22E|    ALC|
|1743-11-01|               7.084|           1.8969999999999998|    Toulouse|            France|  44.20N|    2.24E|    ALC|
|1835-01-01|              13.086|                        1.942|  Tulancingo|            Mexico|  20.09N|   98.96W|    ALC|
|1849-01-01|  26.531999999999996|                        1.416|      Anyama|     Côte D'Ivoire|   5.63N|    4.84W|    ALC|
+----------+--------------------+-----------------------------+------------+------------------+--------+---------+-------+
only showing top 20 rows

In [48]:
# Removing all null values in Average Temperature column
temperature_dim = temperature_dim.filter(temperature_dim["AverageTemperature"] != 'null')
temperature_dim.show()

+----------+--------------------+-----------------------------+------------+------------------+--------+---------+-------+
|        dt|  AverageTemperature|AverageTemperatureUncertainty|        City|           Country|Latitude|Longitude|i94port|
+----------+--------------------+-----------------------------+------------+------------------+--------+---------+-------+
|1743-11-01|               3.264|                        1.665|   Allentown|     United States|  40.99N|   74.56W|    ALC|
|1779-11-01|0.011999999999999985|                        2.714|      Atyrau|        Kazakhstan|  47.42N|   50.92E|    ALC|
|1825-01-01|  26.069000000000003|                         2.16|     Bintulu|          Malaysia|   2.41N|  113.30E|    ALC|
|1825-01-01|              26.517|           2.5839999999999996| Butterworth|          Malaysia|   5.63N|  100.09E|    ALC|
|1845-01-01|              24.995|                        1.871|      Cainta|       Philippines|  15.27N|  120.83E|    ALC|
|1825-01-01|              24.753|           2.1519999999999997|      Ciamis|         Indonesia|   7.23S|  107.84E|    ALC|
|1850-01-01|              22.121|           1.5730000000000002|      Dodoma|          Tanzania|   5.63S|   35.52E|    ALC|
|1840-01-01|  6.2250000000000005|                        2.112|      Fuling|             China|  29.74N|  107.08E|    ALC|
|1841-01-01| -0.3360000000000001|                        2.695|      Fuyang|             China|  32.95N|  115.85E|    ALC|
|1856-01-01|              26.901|                        1.359|         Ife|           Nigeria|   7.23N|    4.05E|    ALC|
|1796-01-01|  14.427999999999999|                        2.395|  Jhunjhunun|             India|  28.13N|   75.45E|    ALC|
|1857-01-01|               25.32|           1.5130000000000001|      Maxixe|        Mozambique|  23.31S|   35.83E|    ALC|
|1856-01-01|  26.555000000000003|                        1.308|      Owerri|           Nigeria|   5.63N|    6.46E|    ALC|
|1824-01-01|  24.958000000000002|                        1.182|Puerto Plata|Dominican Republic|  20.09N|   69.95W|    ALC|
|1832-01-01|              22.288|                        1.587| Santo André|            Brazil|  23.31S|   46.31W|    ALC|
|1857-01-01|  18.581000000000003|           1.8119999999999998|      Soweto|      South Africa|  26.52S|   28.66E|    ALC|
|1825-01-01|              25.862|                        2.175|    Sukabumi|         Indonesia|   7.23S|  106.22E|    ALC|
|1743-11-01|               7.084|           1.8969999999999998|    Toulouse|            France|  44.20N|    2.24E|    ALC|
|1835-01-01|              13.086|                        1.942|  Tulancingo|            Mexico|  20.09N|   98.96W|    ALC|
|1849-01-01|  26.531999999999996|                        1.416|      Anyama|     Côte D'Ivoire|   5.63N|    4.84W|    ALC|
+----------+--------------------+-----------------------------+------------+------------------+--------+---------+-------+
only showing top 20 rows

In [49]:
# Removing all duplicates in city and country columns 
temperature_dim = temperature_dim.dropDuplicates(["City","Country"])

In [50]:
# Extracting columns Required columns from temperature_dim table to create dimentional table
temperature_table = temperature_dim.select(["City", "Country", "Latitude", "Longitude","AverageTemperature","i94port"])
temperature_table = temperature_dim.withColumnRenamed("City","city")
temperature_table.show()

+----------+--------------------+-----------------------------+------------+------------------+--------+---------+-------+
|        dt|  AverageTemperature|AverageTemperatureUncertainty|        city|           Country|Latitude|Longitude|i94port|
+----------+--------------------+-----------------------------+------------+------------------+--------+---------+-------+
|1743-11-01|               3.264|                        1.665|   Allentown|     United States|  40.99N|   74.56W|    ALC|
|1779-11-01|0.011999999999999985|                        2.714|      Atyrau|        Kazakhstan|  47.42N|   50.92E|    ALC|
|1825-01-01|  26.069000000000003|                         2.16|     Bintulu|          Malaysia|   2.41N|  113.30E|    ALC|
|1825-01-01|              26.517|           2.5839999999999996| Butterworth|          Malaysia|   5.63N|  100.09E|    ALC|
|1845-01-01|              24.995|                        1.871|      Cainta|       Philippines|  15.27N|  120.83E|    ALC|
|1825-01-01|              24.753|           2.1519999999999997|      Ciamis|         Indonesia|   7.23S|  107.84E|    ALC|
|1850-01-01|              22.121|           1.5730000000000002|      Dodoma|          Tanzania|   5.63S|   35.52E|    ALC|
|1840-01-01|  6.2250000000000005|                        2.112|      Fuling|             China|  29.74N|  107.08E|    ALC|
|1841-01-01| -0.3360000000000001|                        2.695|      Fuyang|             China|  32.95N|  115.85E|    ALC|
|1856-01-01|              26.901|                        1.359|         Ife|           Nigeria|   7.23N|    4.05E|    ALC|
|1796-01-01|  14.427999999999999|                        2.395|  Jhunjhunun|             India|  28.13N|   75.45E|    ALC|
|1857-01-01|               25.32|           1.5130000000000001|      Maxixe|        Mozambique|  23.31S|   35.83E|    ALC|
|1856-01-01|  26.555000000000003|                        1.308|      Owerri|           Nigeria|   5.63N|    6.46E|    ALC|
|1824-01-01|  24.958000000000002|                        1.182|Puerto Plata|Dominican Republic|  20.09N|   69.95W|    ALC|
|1832-01-01|              22.288|                        1.587| Santo André|            Brazil|  23.31S|   46.31W|    ALC|
|1857-01-01|  18.581000000000003|           1.8119999999999998|      Soweto|      South Africa|  26.52S|   28.66E|    ALC|
|1825-01-01|              25.862|                        2.175|    Sukabumi|         Indonesia|   7.23S|  106.22E|    ALC|
|1743-11-01|               7.084|           1.8969999999999998|    Toulouse|            France|  44.20N|    2.24E|    ALC|
|1835-01-01|              13.086|                        1.942|  Tulancingo|            Mexico|  20.09N|   98.96W|    ALC|
|1849-01-01|  26.531999999999996|                        1.416|      Anyama|     Côte D'Ivoire|   5.63N|    4.84W|    ALC|
+----------+--------------------+-----------------------------+------------+------------------+--------+---------+-------+
only showing top 20 rows

In [51]:
temperature_table.count()

3490

In [52]:
# writing table to parquet formate
temperature_table.write.mode("append").partitionBy("i94port").parquet("/results/temperature.parquet")

***Step3***

In [53]:
# path to us-cities-demographic datase
path = "us-cities-demographics.csv"
demographics_table = spark.read.format("csv").option("header",True).option("delimiter",";").load(path)

In [54]:
# Extracting required columns to model the dimention table
from pyspark.sql.functions import col
demographics_dim = demographics_table.select(col("City").alias("city"), col("State").alias("state"), col("Male Population").alias("male_population"), col("Female Population").alias("female_population"), col("Average Household Size").alias("average_household_size"))
demographics_dim.show()

+----------------+--------------+---------------+-----------------+----------------------+
|            city|         state|male_population|female_population|average_household_size|
+----------------+--------------+---------------+-----------------+----------------------+
|   Silver Spring|      Maryland|          40601|            41862|                   2.6|
|          Quincy| Massachusetts|          44129|            49500|                  2.39|
|          Hoover|       Alabama|          38040|            46799|                  2.58|
|Rancho Cucamonga|    California|          88127|            87105|                  3.18|
|          Newark|    New Jersey|         138040|           143873|                  2.73|
|          Peoria|      Illinois|          56229|            62432|                   2.4|
|        Avondale|       Arizona|          38712|            41971|                  3.18|
|     West Covina|    California|          51629|            56860|                  3.56|
|        O'Fallon|      Missouri|          41762|            43270|                  2.77|
|      High Point|North Carolina|          51751|            58077|                  2.65|
|          Folsom|    California|          41051|            35317|                  2.62|
|          Folsom|    California|          41051|            35317|                  2.62|
|    Philadelphia|  Pennsylvania|         741270|           826172|                  2.61|
|         Wichita|        Kansas|         192354|           197601|                  2.56|
|         Wichita|        Kansas|         192354|           197601|                  2.56|
|      Fort Myers|       Florida|          36850|            37165|                  2.45|
|      Pittsburgh|  Pennsylvania|         149690|           154695|                  2.13|
|          Laredo|         Texas|         124305|           131484|                  3.66|
|        Berkeley|    California|          60142|            60829|                  2.35|
|     Santa Clara|    California|          63278|            62938|                  2.75|
+----------------+--------------+---------------+-----------------+----------------------+
only showing top 20 rows

In [55]:
# writing data to results directory in parquet format
demographics_dim.write.mode("append").partitionBy("city").parquet("/results/demographics.parquet")

***step3***

In [56]:
# Creating Fact table from Dimenstion tables which were created above

# Create views for each table 
demographics_dim.createOrReplaceTempView("demographics_view")
temperature_table.createOrReplaceTempView("temperature_view")
immigration_dim.createOrReplaceTempView("immigration_view")

In [57]:
# Create immigration_temperature_table by joining immigration dimention table and temperature_table dimention table
immigration_temperature_table = immigration_dim.join(temperature_table, on=["i94port"])

In [58]:
immigration_temperature_table.show()

+-------+------+------+------+-------+-------+-------+-------+----------+--------------------+-----------------------------+------------+------------------+--------+---------+
|i94port| i94yr|i94mon|i94cit|arrdate|i94mode|depdate|i94visa|        dt|  AverageTemperature|AverageTemperatureUncertainty|        city|           Country|Latitude|Longitude|
+-------+------+------+------+-------+-------+-------+-------+----------+--------------------+-----------------------------+------------+------------------+--------+---------+
|    ALC|2016.0|   6.0| 103.0|20613.0|    3.0|20626.0|    2.0|1743-11-01|               3.264|                        1.665|   Allentown|     United States|  40.99N|   74.56W|
|    ALC|2016.0|   6.0| 103.0|20613.0|    3.0|20626.0|    2.0|1779-11-01|0.011999999999999985|                        2.714|      Atyrau|        Kazakhstan|  47.42N|   50.92E|
|    ALC|2016.0|   6.0| 103.0|20613.0|    3.0|20626.0|    2.0|1825-01-01|  26.069000000000003|                         2.16|     Bintulu|          Malaysia|   2.41N|  113.30E|
|    ALC|2016.0|   6.0| 103.0|20613.0|    3.0|20626.0|    2.0|1825-01-01|              26.517|           2.5839999999999996| Butterworth|          Malaysia|   5.63N|  100.09E|
|    ALC|2016.0|   6.0| 103.0|20613.0|    3.0|20626.0|    2.0|1845-01-01|              24.995|                        1.871|      Cainta|       Philippines|  15.27N|  120.83E|
|    ALC|2016.0|   6.0| 103.0|20613.0|    3.0|20626.0|    2.0|1825-01-01|              24.753|           2.1519999999999997|      Ciamis|         Indonesia|   7.23S|  107.84E|
|    ALC|2016.0|   6.0| 103.0|20613.0|    3.0|20626.0|    2.0|1850-01-01|              22.121|           1.5730000000000002|      Dodoma|          Tanzania|   5.63S|   35.52E|
|    ALC|2016.0|   6.0| 103.0|20613.0|    3.0|20626.0|    2.0|1840-01-01|  6.2250000000000005|                        2.112|      Fuling|             China|  29.74N|  107.08E|
|    ALC|2016.0|   6.0| 103.0|20613.0|    3.0|20626.0|    2.0|1841-01-01| -0.3360000000000001|                        2.695|      Fuyang|             China|  32.95N|  115.85E|
|    ALC|2016.0|   6.0| 103.0|20613.0|    3.0|20626.0|    2.0|1856-01-01|              26.901|                        1.359|         Ife|           Nigeria|   7.23N|    4.05E|
|    ALC|2016.0|   6.0| 103.0|20613.0|    3.0|20626.0|    2.0|1796-01-01|  14.427999999999999|                        2.395|  Jhunjhunun|             India|  28.13N|   75.45E|
|    ALC|2016.0|   6.0| 103.0|20613.0|    3.0|20626.0|    2.0|1857-01-01|               25.32|           1.5130000000000001|      Maxixe|        Mozambique|  23.31S|   35.83E|
|    ALC|2016.0|   6.0| 103.0|20613.0|    3.0|20626.0|    2.0|1856-01-01|  26.555000000000003|                        1.308|      Owerri|           Nigeria|   5.63N|    6.46E|
|    ALC|2016.0|   6.0| 103.0|20613.0|    3.0|20626.0|    2.0|1824-01-01|  24.958000000000002|                        1.182|Puerto Plata|Dominican Republic|  20.09N|   69.95W|
|    ALC|2016.0|   6.0| 103.0|20613.0|    3.0|20626.0|    2.0|1832-01-01|              22.288|                        1.587| Santo André|            Brazil|  23.31S|   46.31W|
|    ALC|2016.0|   6.0| 103.0|20613.0|    3.0|20626.0|    2.0|1857-01-01|  18.581000000000003|           1.8119999999999998|      Soweto|      South Africa|  26.52S|   28.66E|
|    ALC|2016.0|   6.0| 103.0|20613.0|    3.0|20626.0|    2.0|1825-01-01|              25.862|                        2.175|    Sukabumi|         Indonesia|   7.23S|  106.22E|
|    ALC|2016.0|   6.0| 103.0|20613.0|    3.0|20626.0|    2.0|1743-11-01|               7.084|           1.8969999999999998|    Toulouse|            France|  44.20N|    2.24E|
|    ALC|2016.0|   6.0| 103.0|20613.0|    3.0|20626.0|    2.0|1835-01-01|              13.086|                        1.942|  Tulancingo|            Mexico|  20.09N|   98.96W|
|    ALC|2016.0|   6.0| 103.0|20613.0|    3.0|20626.0|    2.0|1849-01-01|  26.531999999999996|                        1.416|      Anyama|     Côte D'Ivoire|   5.63N|    4.84W|
+-------+------+------+------+-------+-------+-------+-------+----------+--------------------+-----------------------------+------------+------------------+--------+---------+
only showing top 20 rows

In [59]:
immigration_temperature_table.printSchema()

root
 |-- i94port: string (nullable = true)
 |-- i94yr: double (nullable = true)
 |-- i94mon: double (nullable = true)
 |-- i94cit: double (nullable = true)
 |-- arrdate: double (nullable = true)
 |-- i94mode: double (nullable = true)
 |-- depdate: double (nullable = true)
 |-- i94visa: double (nullable = true)
 |-- dt: string (nullable = true)
 |-- AverageTemperature: string (nullable = true)
 |-- AverageTemperatureUncertainty: string (nullable = true)
 |-- city: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)

In [60]:
# selecting required column for fact table changing column name to readable format
fact_table = immigration_temperature_table.select(col("i94yr").alias("year"),
                                                col("i94mon").alias("month"),
                                                col("i94cit").alias("city_code"), 
                                                col("city").alias("city"),
                                                col("Country").alias("country"),
                                                col("i94port").alias("i94port"),
                                                col("arrdate").alias("arrival_date"),
                                                col("i94mon").alias("tavel_mode"),
                                                col("depdate").alias("departure_date"),
                                                col("i94visa").alias("reason"),
                                                col("AverageTemperature").alias("averagetemperature"),
                                                col("Latitude").alias("latitude"),
                                                col("Longitude").alias("longitude")
                                               )
fact_table.printSchema()

root
 |-- year: double (nullable = true)
 |-- month: double (nullable = true)
 |-- city_code: double (nullable = true)
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrival_date: double (nullable = true)
 |-- tavel_mode: double (nullable = true)
 |-- departure_date: double (nullable = true)
 |-- reason: double (nullable = true)
 |-- averagetemperature: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)

In [61]:
fact_table.show()

+------+-----+---------+------------+------------------+-------+------------+----------+--------------+------+--------------------+--------+---------+
|  year|month|city_code|        city|           country|i94port|arrival_date|tavel_mode|departure_date|reason|  averagetemperature|latitude|longitude|
+------+-----+---------+------------+------------------+-------+------------+----------+--------------+------+--------------------+--------+---------+
|2016.0|  6.0|    103.0|   Allentown|     United States|    ALC|     20613.0|       6.0|       20626.0|   2.0|               3.264|  40.99N|   74.56W|
|2016.0|  6.0|    103.0|      Atyrau|        Kazakhstan|    ALC|     20613.0|       6.0|       20626.0|   2.0|0.011999999999999985|  47.42N|   50.92E|
|2016.0|  6.0|    103.0|     Bintulu|          Malaysia|    ALC|     20613.0|       6.0|       20626.0|   2.0|  26.069000000000003|   2.41N|  113.30E|
|2016.0|  6.0|    103.0| Butterworth|          Malaysia|    ALC|     20613.0|       6.0|       20626.0|   2.0|              26.517|   5.63N|  100.09E|
|2016.0|  6.0|    103.0|      Cainta|       Philippines|    ALC|     20613.0|       6.0|       20626.0|   2.0|              24.995|  15.27N|  120.83E|
|2016.0|  6.0|    103.0|      Ciamis|         Indonesia|    ALC|     20613.0|       6.0|       20626.0|   2.0|              24.753|   7.23S|  107.84E|
|2016.0|  6.0|    103.0|      Dodoma|          Tanzania|    ALC|     20613.0|       6.0|       20626.0|   2.0|              22.121|   5.63S|   35.52E|
|2016.0|  6.0|    103.0|      Fuling|             China|    ALC|     20613.0|       6.0|       20626.0|   2.0|  6.2250000000000005|  29.74N|  107.08E|
|2016.0|  6.0|    103.0|      Fuyang|             China|    ALC|     20613.0|       6.0|       20626.0|   2.0| -0.3360000000000001|  32.95N|  115.85E|
|2016.0|  6.0|    103.0|         Ife|           Nigeria|    ALC|     20613.0|       6.0|       20626.0|   2.0|              26.901|   7.23N|    4.05E|
|2016.0|  6.0|    103.0|  Jhunjhunun|             India|    ALC|     20613.0|       6.0|       20626.0|   2.0|  14.427999999999999|  28.13N|   75.45E|
|2016.0|  6.0|    103.0|      Maxixe|        Mozambique|    ALC|     20613.0|       6.0|       20626.0|   2.0|               25.32|  23.31S|   35.83E|
|2016.0|  6.0|    103.0|      Owerri|           Nigeria|    ALC|     20613.0|       6.0|       20626.0|   2.0|  26.555000000000003|   5.63N|    6.46E|
|2016.0|  6.0|    103.0|Puerto Plata|Dominican Republic|    ALC|     20613.0|       6.0|       20626.0|   2.0|  24.958000000000002|  20.09N|   69.95W|
|2016.0|  6.0|    103.0| Santo André|            Brazil|    ALC|     20613.0|       6.0|       20626.0|   2.0|              22.288|  23.31S|   46.31W|
|2016.0|  6.0|    103.0|      Soweto|      South Africa|    ALC|     20613.0|       6.0|       20626.0|   2.0|  18.581000000000003|  26.52S|   28.66E|
|2016.0|  6.0|    103.0|    Sukabumi|         Indonesia|    ALC|     20613.0|       6.0|       20626.0|   2.0|              25.862|   7.23S|  106.22E|
|2016.0|  6.0|    103.0|    Toulouse|            France|    ALC|     20613.0|       6.0|       20626.0|   2.0|               7.084|  44.20N|    2.24E|
|2016.0|  6.0|    103.0|  Tulancingo|            Mexico|    ALC|     20613.0|       6.0|       20626.0|   2.0|              13.086|  20.09N|   98.96W|
|2016.0|  6.0|    103.0|      Anyama|     Côte D'Ivoire|    ALC|     20613.0|       6.0|       20626.0|   2.0|  26.531999999999996|   5.63N|    4.84W|
+------+-----+---------+------------+------------------+-------+------------+----------+--------------+------+--------------------+--------+---------+
only showing top 20 rows

In [62]:
fact_table.count()

2966500

In [63]:
fact_table.write.mode("append").partitionBy(["i94port","city"]).parquet("/results/fact_table.parquet")
print("success")

success

### Create another fact table to analyse immigration people in USA

- Create separate  tables for fact_table and demographics tables 
- Then make sure in fact_table we have only USA cities 
- Join two tables and make sure we dont have any repeated or null values after joining

In [64]:
# select required columns from fact_table created above
fact_table_immigration = fact_table.select(["city", "i94port", "month", "reason"])

In [65]:
# Get all city names in USA and make sure wont have duplicate cities in the list
usa_cities_list = [row["city"] for row in demographics_dim.collect()]
set_usa_list = set(usa_cities_list)
len(set_usa_list)

567

In [66]:
# function to verify whether city in usa_cities list or not
@udf
def get_city(city):
    '''
    input: city name
    
    output: if city in set_usa_list return city else return null
    '''
    if city in set_usa_list:
        return city

In [67]:
# Add usa_city column to fact_table_immigration table
fact_table_immigration = fact_table_immigration.withColumn("usa_city", get_city(fact_table_immigration.city))

In [68]:
# drop column usa_city 
fact_table_immigration = fact_table_immigration.drop('usa_city')

In [69]:
# Drop duplicate rows in city column
fact_table_immigration = fact_table_immigration.dropDuplicates(["city"])

In [70]:
# results obtainer
fact_table_immigration.show()

+------------+-------+-----+------+
|        city|i94port|month|reason|
+------------+-------+-----+------+
|     Antwerp|    ALC|  6.0|   2.0|
|    Araruama|    ALC|  6.0|   2.0|
|   Bangalore|    ALC|  6.0|   2.0|
|       Benxi|    ALC|  6.0|   2.0|
|   Cajamarca|    ALC|  6.0|   2.0|
|  Cicalengka|    ALC|  6.0|   2.0|
|     Copiapo|    ALC|  6.0|   2.0|
|     Da Nang|    ALC|  6.0|   2.0|
|Dos Hermanas|    ALC|  6.0|   2.0|
|    Fengshan|    ALC|  6.0|   2.0|
|    Girardot|    ALC|  6.0|   2.0|
|     Hanover|    ALC|  6.0|   2.0|
|    Horlivka|    ALC|  6.0|   2.0|
|    Jaboatão|    ALC|  6.0|   2.0|
|   Kisangani|    ALC|  6.0|   2.0|
|   Magdeburg|    ALC|  6.0|   2.0|
|       Mainz|    ALC|  6.0|   2.0|
|    Montería|    ALC|  6.0|   2.0|
|     Morelia|    ALC|  6.0|   2.0|
|    Namangan|    ALC|  6.0|   2.0|
+------------+-------+-----+------+
only showing top 20 rows

In [71]:
# Join fact_table_immigration and demographics_dim table on city 
fact_table_immigration =  fact_table_immigration.join(demographics_dim, on=["city"])

In [72]:
# Drop duplicate values present in table and remove duplicate values.
fact_table_immigration = fact_table_immigration.dropDuplicates(['city'])
fact_table_immigration.show()

+---------------+-------+-----+------+--------------+---------------+-----------------+----------------------+
|           city|i94port|month|reason|         state|male_population|female_population|average_household_size|
+---------------+-------+-----+------+--------------+---------------+-----------------+----------------------+
|      Worcester|    ALC|  6.0|   2.0| Massachusetts|          90951|            93855|                  2.43|
|     Charleston|    ALC|  6.0|   2.0|South Carolina|          63956|            71568|                   2.4|
|         Corona|    ALC|  6.0|   2.0|    California|          79749|            84493|                  2.97|
|    Springfield|    ALC|  6.0|   2.0| Massachusetts|          74744|            79592|                  2.81|
|          Tempe|    ALC|  6.0|   2.0|       Arizona|          91350|            84476|                  2.44|
|North Las Vegas|    ALC|  6.0|   2.0|        Nevada|         116350|           118443|                  3.31|
|       Thornton|    ALC|  6.0|   2.0|      Colorado|          65482|            67977|                  2.97|
|        Phoenix|    ALC|  6.0|   2.0|       Arizona|         786833|           776168|                  2.89|
|      Hollywood|    ALC|  6.0|   2.0|       Florida|          75358|            74363|                  2.65|
| Pembroke Pines|    ALC|  6.0|   2.0|       Florida|          77050|            89574|                  2.94|
|       Savannah|    ALC|  6.0|   2.0|       Georgia|          69389|            76295|                  2.57|
|     Toms River|    ALC|  6.0|   2.0|    New Jersey|          43864|            43886|                  2.71|
|  Coral Springs|    ALC|  6.0|   2.0|       Florida|          63316|            66186|                  3.17|
|          Omaha|    ALC|  6.0|   2.0|      Nebraska|         218789|           225098|                  2.47|
|      Anchorage|    ALC|  6.0|   2.0|        Alaska|         152945|           145750|                  2.77|
|       Paradise|    ALC|  6.0|   2.0|        Nevada|         122784|           114162|                  2.65|
|   Fort Collins|    ALC|  6.0|   2.0|      Colorado|          80893|            80288|                  2.45|
|        Anaheim|    ALC|  6.0|   2.0|    California|         179603|           171135|                  3.45|
|     Greensboro|    ALC|  6.0|   2.0|North Carolina|         132251|           153093|                  2.36|
|    Chattanooga|    ALC|  6.0|   2.0|     Tennessee|          83640|            92957|                   2.4|
+---------------+-------+-----+------+--------------+---------------+-----------------+----------------------+
only showing top 20 rows

In [73]:
fact_table_immigration.write.mode("append").partitionBy(["i94port","city"]).parquet("/results/fact_table_immigration.parquet")
print("success")

success

### 4.2 Data Quality Checks###

Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:

- Integrity constraints on the relational database (e.g., unique key, data type, etc.)
- Unit tests for the scripts to ensure they are doing the right thing
- Source/Count checks to ensure completeness

#### Run Quality checks

In [74]:
def quality_check(df, description):
    '''
    Input: Spark dataframe, description of Spark datafram
    Output: Print outcome of data quality check
    '''
    
    result = df.count()
    if result == 0:
        print("Data quality check failed for {} with zero records".format(description))
    else:
        print("Data quality check passed for {} with {} records".format(description, result))
    return 0

In [75]:
# Perform data quality check
quality_check(immigration_dim, "immigration table")
quality_check(temperature_table, "temperature table")
quality_check(demographics_dim, "demographics table")
quality_check(fact_table, "fact table")
quality_check(fact_table_immigration, "fact_table_immigration table")

Data quality check passed for immigration table with 3508813 records
Data quality check passed for temperature table with 3490 records
Data quality check passed for demographics table with 2891 records
Data quality check passed for fact table with 2966500 records
Data quality check passed for fact_table_immigration table with 252 records

0

### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

### fact_table 
this will contain data by joining i94 immigration to gobaltemperature dataset

##### columns

- i94yr     AS year 
- i94mon    AS month
- i94cit    AS city_code
- city      AS city
- Country   AS country
- i94port   AS i94port
- arrrdate  AS arrival_date
- i94visa   AS reason
- i94mod    AS travel_mode
- depdate   AS departure_date
- Average Temperature AS averagetemperature
- Latitude  AS latitude
- Longitude AS longitude

#### fact_table_immigration

##### Columns

- city AS city
- i94port AS i94port
- i94mon AS month
- i94visa AS reason
- state AS state
- Male Population AS male_population
- Female Population AS female_population
- Average HouseHold Size AS average_household_size

#### 1.Dimentional Table
Contain Data from i94immigration data

Columns

- i94yr = 4 digit year
- i94mon = numeric month
- i94cit = 3 digit code of origin city
- i94port = 3 character code of destination city
- arrdate = arrival date
- i94mode = 1 digit travel code
- depdate = departure date
- i94visa = reason for immigration

### 2.Dimentional Table
Contain data from global temperature data

Columns

- 94port = 3 character code of destination city (mapped from cleaned up immigration data)
- AverageTemperature = average temperature
- City = city name
- Country = country name
- Latitude= latitude
- Longitude = longitude

### 3.Dimentional Table
Contain data from us-cities-demograhics dataset

Columns
-

- city  AS city
- state AS state
- Male Population AS male_population
- Female Population AS female_population
- Average HouseHold Size AS average_household_size

## Step 5: Complete Project Write Up
1 Clearly state the rationale for the choice of tools and technologies for the project.

- we used Spark for this project since it can easily handle multiple file formats (json,SAS, csv,text, etc) that contain large i.e 1M amounts of data. Its mainly because ***Schema-on-Read***(no database storage required) which is main advantage over datawarehouse.Spark is know for **Lazy Evaluation** means whenever you want data,then it run quiries and take data from disk to memory. Spark SQL was used to process the input files into dataframes and manipulated via standard SQL join operations to create the tables.

2 Propose how often the data should be updated and why.

- Data is updated for every months. we can analyse data by pullin for every months.

3 Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 
 - AWS provides AmazonRedshift using which we can analyze millions of data workloads easily
 
4 The data populates a dashboard that must be updated on a daily basis by 7am every day.
 
 - Using Airflow DAG we can trigger the task for every 7am. if task fails sending emails can be done.
 
 - DataQualitycheck pulgins can be included in our task for every load data we analyse.
 
5 The database needed to be accessed by 100+ people.
 
 - Using Redshift we can solve this problem, it has autoscaling capabilities and good read performance